<div id="<%= dom_id brand %>" class="w-full bg-indigo-700">
  <div class="bg-neutral-600 m-7 p-4">
    <div>
      <strong class="block font-medium mb-1 text-white">Name:</strong>
      <%= brand.name %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Production date:</strong>
      <%= brand.production_date %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Founder name:</strong>
      <%= brand.founder_name %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Founder surname:</strong>
      <%= brand.founder_surname %>
    <div>
  </div>
</div>
