<div id="<%= dom_id brand %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= brand.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Production date:</strong>
    <%= brand.production_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Founder name:</strong>
    <%= brand.founder_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Founder surname:</strong>
    <%= brand.founder_surname %>
  </div>
</div>
