<div id="<%= dom_id car %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= car.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mileage:</strong>
    <%= car.mileage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Production date:</strong>
    <%= car.production_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Power:</strong>
    <%= car.power %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fuel type:</strong>
    <%= car.fuel_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Transmission:</strong>
    <%= car.transmission %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cubic capacity:</strong>
    <%= car.cubic_capacity %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Brand</strong>
    <%= car.brand.name %>
  <div>
</div>
