<div id="<%= dom_id car %>" class="w-full bg-indigo-700">
  <div class="bg-neutral-600 m-7 p-4">
    <div>
      <strong class="block font-medium mb-1 text-white">Name:</strong>
      <%= car.name %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Mileage:</strong>
      <%= car.mileage %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Production date:</strong>
      <%= car.production_date %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Power:</strong>
      <%= car.power %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Fuel type:</strong>
      <%= car.fuel_type %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Transmission:</strong>
      <%= car.transmission %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Cubic capacity:</strong>
      <%= car.cubic_capacity %>
    </div>
    <div>
      <strong class="block font-medium mb-1 text-white">Brand:</strong>
      <%= car.brand.name %>
    <div>
    </div>
</div>
